@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*-- scss:defaults --*/


/*-- scss:rules --*/

h1, .navbar-title {
  font-weight: 600;
}

.question {
  border-left: 3px solid #28a87d;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  background: #d9f6ec;
}

.recap {
  border-left: 3px solid #663399;
  padding: 0.5rem 0.5rem 0.2rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: #e6d9f2;
}

.listing-subtitle, .listing-title {
  vertical-align: middle;
}

.listing-subtitle {
  width: 100px;
}
